openapi: 3.0.1
info:
  title: RESTful Web Services API
  description: Universal Controller supports a RESTful-based web services API that allows you to perform multiple operations.
  version: 7.7.0.0
externalDocs:
  url: 'https://doc.stonebranch.com/wiki/spaces/UC77/pages/794498767/RESTful+Web+Services+API'
servers:
  - url: 'https://ps1.stonebranchdev.cloud/'
  - url: ''
    description: ''
security:
  - basicAuth: []
    bearerAuth: []
paths:
  /resources/agentcluster:
    get:
      tags:
        - Agent Cluster
      summary: Read an Agent Cluster
      description: Retrieves information on a specific Agent Cluster.
      operationId: getAgentCluster
      parameters:
        - name: agentclusterid
          in: query
          description: ID used within the Controller to identify this Agent Cluster.
          schema:
            type: string
        - name: agentclustername
          in: query
          description: Name used within the Controller to identify this Agent Cluster.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentClusterWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AgentClusterWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Agent cluster value missing. Required either agentclustername or agentclusterid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Agent cluster with id "agentclusterid" does not exist.
    put:
      tags:
        - Agent Cluster
      summary: Modify an Agent Cluster
      description: Modifies the Agent Cluster specified by the sysId.
      operationId: updateAgentCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentClusterWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/AgentClusterWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the Agent Cluster with id "agentclusterid" to version "version".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Agent cluster with id "agentclusterid" does not exist.
    post:
      tags:
        - Agent Cluster
      summary: Create an Agent Cluster
      description: Creates a new Agent Cluster.
      operationId: createAgentCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentClusterWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/AgentClusterWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the Agent Cluster with id "agentclusterid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create Agent Cluster failed. A duplicate value has been detected. Name must be unique.
    delete:
      tags:
        - Agent Cluster
      summary: Delete an Agent Cluster
      description: Deletes a specific Agent Cluster.
      operationId: deleteAgentCluster
      parameters:
        - name: agentclusterid
          in: query
          description: Name used within the Controller to identify this Agent Cluster.
          schema:
            type: string
        - name: agentclustername
          in: query
          description: ID used within the Controller to identify this Agent Cluster.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Agent Cluster deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either agentclustername or agentclusterid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Agent cluster with id "agentclusterid" does not exist.
  /resources/agentcluster/list:
    get:
      tags:
        - Agent Cluster
      summary: List Agent Clusters
      description: Retrieves information on all Agent Clusters.
      operationId: getAgentClusters
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
      security: []
  /resources/agentcluster/listadv:
    get:
      tags:
        - Agent Cluster
      summary: List Agent Clusters - Advanced
      description: Retrieves Agent Cluster details using specific query parameters.
      operationId: getAgentClustersAdvanced
      parameters:
        - name: agentclustername
          in: query
          description: Name used within the Controller to identify this Agent Cluster.
          schema:
            type: string
        - name: type
          in: query
          description: Type of Agent Cluster.
          schema:
            type: string
            enum:
              - Windows
              - Linux/Unix
        - name: businessServices
          in: query
          description: Business Services that this Agent belongs to.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              example: 'Cannot find business service: "businessServices".'
  /resources/agentcluster/agent:
    get:
      tags:
        - Agent Cluster
      summary: Return an Agent from an Agent Cluster
      description: Retrieves information on a specific Agent from an Agent Cluster for which a Distribution method of Any or Lowest CPU Utilization is specified.
      operationId: getSelectedAgent
      parameters:
        - name: agentclustername
          in: query
          description: Name used within the Controller to identify this Agent Cluster.
          required: true
          schema:
            type: string
        - name: ignoreexecutionlimit
          in: query
          description: Specification to use or ignore the task execution limit.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSimpleWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AgentSimpleWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Agent cluster "agentclustername" not found.
  /resources/agentcluster/resolve:
    post:
      tags:
        - Agent Cluster
      summary: Resolve an Agent Cluster
      description: Resolves the Network Alias for the specified Agent Cluster.
      operationId: resolveCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveAgentClusterWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/ResolveAgentClusterWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '404':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/agentcluster/resume:
    post:
      tags:
        - Agent Cluster
      summary: Resume an Agent Cluster
      description: Resumes the specified Agent Cluster.
      operationId: resumeCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeAgentClusterWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/ResumeAgentClusterWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/agentcluster/taskexecutionlimit:
    post:
      tags:
        - Agent Cluster
      summary: Set an Agent Cluster Task Execution Limit
      description: Sets the task execution limit for the specified Agent Cluster.
      operationId: setClusterTaskExecutionLimit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAgentClusterTaskExecutionLimitWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/SetAgentClusterTaskExecutionLimitWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/agentcluster/suspend:
    post:
      tags:
        - Agent Cluster
      summary: Suspend an Agent Cluster
      description: Suspends the specified Agent Cluster.
      operationId: suspendCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuspendAgentClusterWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/SuspendAgentClusterWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/agent:
    get:
      tags:
        - Agent
      summary: Read an Agent
      description: Retrieves information on a specific Agent.
      operationId: getAgent
      parameters:
        - name: agentid
          in: query
          description: ID used within the Controller to identify this Agent.
          schema:
            type: string
        - name: agentname
          in: query
          description: Name used within the Controller to identify this Agent.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/AgentWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either agentname or agentid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Agent with id "agentid" does not exist.
    put:
      tags:
        - Agent
      summary: Modify an Agent
      description: Modifies the Agent specified by the sysId.
      operationId: updateAgent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/AgentWsData'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgentWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Agent with id "agentid" does not exist.
    delete:
      tags:
        - Agent
      summary: Delete an Agent
      description: Deletes the specified Agent.
      operationId: deleteAgent
      parameters:
        - name: agentid
          in: query
          description: ID used within the Controller to identify this Agent.
          schema:
            type: string
        - name: agentname
          in: query
          description: Name used within the Controller to identify this Agent.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Agent deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either agentname or agentid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Agent with id "agentid" does not exist.
  /resources/agent/list:
    get:
      tags:
        - Agent
      summary: List Agents
      description: Retrieves information on all agents.
      operationId: getAgents
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/agent/listadv:
    get:
      tags:
        - Agent
      summary: List Agents - Advanced
      description: Retrieves Agent details using specific query parameters.
      operationId: getAgentsAdvanced
      parameters:
        - name: agentname
          in: query
          description: Name used within the Controller to identify this Agent.
          schema:
            type: string
        - name: type
          in: query
          description: Type of Agent.
          schema:
            type: string
            enum:
              - Windows
              - Linux/Unix
              - z/OS
        - name: businessServices
          in: query
          description: Business Services that this Agent belongs to.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              example: 'Cannot find business service: "businessServices".'
  /resources/agent/ops-resume-agent:
    post:
      tags:
        - Agent
      summary: Resume an Agent
      description: Resumes the specified agent.
      operationId: resumeAgent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeAgentWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/ResumeAgentWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/agent/ops-resume-agent-cluster-membership:
    post:
      tags:
        - Agent
        - Agent Cluster
      summary: Resume an Agent Cluster Membership
      description: Resumes the specified agent cluster membership.
      operationId: resumeAgentClusterMembership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeAgentClusterMembershipWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/ResumeAgentClusterMembershipWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/agent/ops-set-agent-task-execution-limit:
    post:
      tags:
        - Agent
      summary: Set an Agent Task Execution Limit
      description: Sets the task execution limit for the specified agent.
      operationId: setAgentTaskExecutionLimit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAgentTaskExecutionLimitWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/SetAgentTaskExecutionLimitWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/agent/ops-suspend-agent:
    post:
      tags:
        - Agent
      summary: Suspend an Agent
      description: Suspends the specified agent.
      operationId: suspendAgent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuspendAgentWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/SuspendAgentWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/agent/ops-suspend-agent-cluster-membership:
    post:
      tags:
        - Agent
        - Agent Cluster
      summary: Suspend an Agent Cluster Membership
      description: Suspends the specified agent cluster membership.
      operationId: suspendAgentClusterMembership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuspendAgentClusterMembershipWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/SuspendAgentClusterMembershipWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/audit/list:
    post:
      tags:
        - Audit
      summary: List Audit Records
      description: Retrieve the audit details using a specific filter.
      operationId: listAudit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditFilterWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/AuditFilterWsData'
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/bundle/promote:
    post:
      tags:
        - Bundle
        - Promotion
      summary: Promote a Bundle or Schedule a Bundle Promotion
      description: Promote a Bundle or schedule the promotion of a Bundle.
      operationId: promote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundlePromoteWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/BundlePromoteWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/bundle:
    get:
      tags:
        - Bundle
      summary: Read a Bundle
      description: Retrieve Bundle details using specific query parameters.
      operationId: getBundle
      parameters:
        - name: bundleid
          in: query
          description: ID used within the Controller to identify this Bundle.
          schema:
            type: string
        - name: bundlename
          in: query
          description: Name used within the Controller to identify this Bundle.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/BundleWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either bundlename or bundleid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A bundle with id "bundleid" does not exist.
    put:
      tags:
        - Bundle
      summary: Modify a Bundle
      description: Modifies the Bundle specified by the sysId.
      operationId: updateBundle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/BundleWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the Bundle with id "bundleid" to version "version".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A Bundle with id "bundleid" does not exist.
    post:
      tags:
        - Bundle
      summary: Create a Bundle
      description: Creates a Bundle.
      operationId: createBundle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/BundleWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the bundle with id "bundleid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create bundle failed. A duplicate value has been detected. Name must be unique.
    delete:
      tags:
        - Bundle
      summary: Delete a Bundle
      description: Deletes the specified Bundle.
      operationId: deleteBundle
      parameters:
        - name: bundleid
          in: query
          description: ID used within the Controller to identify this Bundle.
          schema:
            type: string
        - name: bundlename
          in: query
          description: Name used within the Controller to identify this Bundle.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Bundle deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either bundlename or bundleid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A Bundle with id "bundleid" does not exist.
  /resources/bundle/bybusinessservices:
    post:
      tags:
        - Bundle
      summary: Create a Bundle by Business Services
      description: Creates a Bundle by Business Services.
      operationId: createBundleByBusinessServices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleRequestWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/BundleRequestWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created bundle "bundlename" with 1 item(s).
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/bundle/bydate:
    post:
      tags:
        - Bundle
      summary: Create a Bundle by Date
      description: Creates a Bundle by Date.
      operationId: createBundleByDate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleRequestWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/BundleRequestWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created bundle "bundlename" with 1 item(s).
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/bundle/report:
    get:
      tags:
        - Bundle
      summary: Read a Bundle Report
      description: Retrieve Bundle Report details using specific query parameters.
      operationId: getBundleReport
      parameters:
        - name: bundleid
          in: query
          description: ID used within the Controller to identify this Bundle.
          schema:
            type: string
        - name: bundlename
          in: query
          description: Name used within the Controller to identify this Bundle.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either bundlename or bundleid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A bundle with id "bundleid" does not exist.
  /resources/bundle/list:
    get:
      tags:
        - Bundle
      summary: List Bundles
      description: Retrieves information on all Bundles.
      operationId: listBundles
      parameters:
        - name: bundlename
          in: query
          description: Name used within the Controller to identify this Bundle.
          schema:
            type: string
        - name: businessServices
          in: query
          description: Business Services that the bundle belongs to.
          schema:
            type: string
        - name: defaultPromotionTarget
          in: query
          description: Default Promotion Target for this bundle.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              example: 'Cannot find business service: "businessServices".'
        '404':
          description: Not Found
          content:
            text/plain: {}
  /resources/businessservice:
    get:
      tags:
        - Business Service
      summary: Read a Business Service
      description: Retrieves information on a specific Business Service.
      operationId: getBusinessService
      parameters:
        - name: busserviceid
          in: query
          description: ID used within the Controller to identify this Business Service.
          schema:
            type: string
        - name: busservicename
          in: query
          description: Name used within the Controller to identify this Business Service.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessServiceWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/BusinessServiceWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either busservicename or busserviceid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A business service with name "busservicename" does not exist.
    put:
      tags:
        - Business Service
      summary: Modify a Business Service
      description: Modifies the Business Service specified by the sysId.
      operationId: updateBusinessService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessServiceWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/BusinessServiceWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the Business Service with id "busserviceid" to version "version".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A Business Service with id "busserviceid" does not exist.
    post:
      tags:
        - Business Service
      summary: Create a Business Service
      description: Creates a Business Service.
      operationId: createBusinessService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessServiceWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/BusinessServiceWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the Business Service with id "busserviceid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create Business Service failed. A duplicate value has been detected. Name must be unique.
    delete:
      tags:
        - Business Service
      summary: Delete a Business Service
      description: Deletes a Business Service.
      operationId: deleteBusinessService
      parameters:
        - name: busserviceid
          in: query
          description: ID used within the Controller to identify this Business Service.
          schema:
            type: string
        - name: busservicename
          in: query
          description: Name used within the Controller to identify this Business Service.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Business Service deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either busservicename or busserviceid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A Bundle with id "busserviceid" does not exist.
  /resources/businessservice/list:
    get:
      tags:
        - Business Service
      summary: List Business Services
      description: Retrieves information on all Business Services.
      operationId: listBusinessServices
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/calendar/customdays:
    get:
      tags:
        - Calendar
        - Custom Day
      summary: Read All Custom Days of a Calendar
      description: Retrieves information on all Custom Days of a specific Calendar.
      operationId: getCustomDays
      parameters:
        - name: calendarid
          in: query
          description: ID used within the Controller to identify this Calendar.
          schema:
            type: string
        - name: calendarname
          in: query
          description: Name used within the Controller to identify this Calendar.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Mutual exclusion violation. Cannot specify calendarname and calendarid at the same time.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A calendar with id "calendarid" does not exist.
    post:
      tags:
        - Calendar
        - Custom Day
      summary: Add an Existing Custom Day to a Calendar
      description: Adds the specified Custom Day to the specified Calendar.
      operationId: addCustomDay
      parameters:
        - name: calendarid
          in: query
          description: ID used within the Controller to identify this Calendar.
          schema:
            type: string
        - name: calendarname
          in: query
          description: Name used within the Controller to identify this Calendar.
          schema:
            type: string
        - name: customdayid
          in: query
          description: ID used within the Controller to identify this Custom Day.
          schema:
            type: string
        - name: customdayname
          in: query
          description: Name used within the Controller to identify this Custom Day.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Custom day "customdayname" successfully added to the calendar "calendarname".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Custom Day "customdayname" is already in the Calendar "calendarname".
        '404':
          description: Not Found
          content:
            text/plain:
              example: A calendar with name "calendarName" does not exist.
    delete:
      tags:
        - Calendar
        - Custom Day
      summary: Remove a Custom Day from a Calendar
      description: Removes the specified Custom Day from a specific Calendar.
      operationId: removeCustomDay
      parameters:
        - name: calendarid
          in: query
          description: ID used within the Controller to identify this Calendar.
          schema:
            type: string
        - name: calendarname
          in: query
          description: Name used within the Controller to identify this Calendar.
          schema:
            type: string
        - name: customdayid
          in: query
          description: ID used within the Controller to identify this Custom Day.
          schema:
            type: string
        - name: customdayname
          in: query
          description: Name used within the Controller to identify this Custom Day.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully removed custom day "customdayname" from calendar "calendarname".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Custom day "customdayname" does not belong to the calendar "calendarname".
        '404':
          description: Not Found
          content:
            text/plain:
              example: A calendar with name "calendarname" does not exist.
  /resources/calendar:
    get:
      tags:
        - Calendar
      summary: Read a Calendar
      description: Retrieves information on a specific Calendar.
      operationId: getCalendar
      parameters:
        - name: calendarid
          in: query
          description: ID used within the Controller to identify this Calendar.
          schema:
            type: string
        - name: calendarname
          in: query
          description: Name used within the Controller to identify this Calendar.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CalendarWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Mutual exclusion violation. Cannot specify calendarname and calendarid at the same time.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A calendar with id "calendarid" does not exist.
    put:
      tags:
        - Calendar
      summary: Modify a Calendar
      description: Modifies the Calendar specified by the sysId.
      operationId: updateCalendar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/CalendarWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the calendar with id "calendarid" to version <version>.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A Calendar with id "calendarid" does not exist.
    post:
      tags:
        - Calendar
      summary: Create a Calendar
      description: Creates a new Calendar.
      operationId: createCalendar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/CalendarWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the calendar with id "calendarid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create Calendar failed. A duplicate value has been detected. Name must be unique.
    delete:
      tags:
        - Calendar
      summary: Delete a Calendar
      description: Deletes the specified Calendar.
      operationId: deleteCalendar
      parameters:
        - name: calendarid
          in: query
          description: ID used within the Controller to identify this Calendar.
          schema:
            type: string
        - name: calendarname
          in: query
          description: Name used within the Controller to identify this Calendar.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Calendar deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either calendarname or calendarid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A calendar with id "calendarid" does not exist.
  /resources/calendar/list:
    get:
      tags:
        - Calendar
      summary: List Calendars
      description: Retrieves information on all Calendars.
      operationId: listCalendars
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/calendar/localcustomdays/qualifyingdates:
    get:
      tags:
        - Calendar
      summary: List Local Custom Day Qualifying Dates
      description: Retrieves information on Qualifying Dates for a specific Local Custom Day.
      operationId: listQualifyingDatesForLocalCustomDay
      parameters:
        - name: customdayname
          in: query
          description: Name used within the Controller to identify this Local Custom Day.
          required: true
          schema:
            type: string
        - name: calendarid
          in: query
          description: ID used within the Controller to identify this Calendar.
          schema:
            type: string
        - name: calendarname
          in: query
          description: Name used within the Controller to identify this Calendar.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Mutual exclusion violation. Cannot specify calendarname and calendarid at the same time.
  /resources/calendar/localcustomdays/qualifyingperiods:
    get:
      tags:
        - Calendar
      summary: List Local Custom Day Qualifying Periods
      description: Retrieves information on Qualifying Periods for a specific Local Custom Day.
      operationId: listQualifyingPeriods
      parameters:
        - name: customdayname
          in: query
          description: Name used within the Controller to identify this Local Custom Day.
          required: true
          schema:
            type: string
        - name: calendarid
          in: query
          description: ID used within the Controller to identify this Calendar.
          schema:
            type: string
        - name: calendarname
          in: query
          description: Name used within the Controller to identify this Calendar.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Mutual exclusion violation. Cannot specify calendarname and calendarid at the same time.
  /resources/clusternode/info:
    get:
      tags:
        - Cluster Node
      summary: Read Current Cluster Node
      description: Retrieves information on the current Cluster Node.
      operationId: getClusterNode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterNodeWsData'
            text/xml:
              schema:
                $ref: '#/components/schemas/ClusterNodeWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClusterNodeWsData'
        '400':
          description: Bad Request
          content:
            text/plain: {}
        '404':
          description: Not Found
          content:
            text/plain: {}
  /resources/clusternode/list:
    get:
      tags:
        - Cluster Node
      summary: List All Cluster Nodes
      description: Retrieves information on all Cluster Nodes.
      operationId: getClusterNodes
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/credential/ops-change-password:
    post:
      tags:
        - Credential
        - Password
      summary: Change Runtime Password
      description: Changes the runtime password of the Credential based on name.
      operationId: changePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCredentialsPasswordWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/ChangeCredentialsPasswordWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/credential:
    get:
      tags:
        - Credential
      summary: Read a Credential
      description: Retrieves information on a specific Credential.
      operationId: getCredential
      parameters:
        - name: credentialid
          in: query
          description: ID used within the Controller to identify this Credential.
          schema:
            type: string
        - name: credentialname
          in: query
          description: Name used within the Controller to identify this Credential.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CredentialWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either credentialname or credentialid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A credential with id "credentialid" does not exist.
    put:
      tags:
        - Credential
      summary: Modify a Credential
      description: Modifies the Credential specified by the sysId.
      operationId: updateCredential
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/CredentialWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the credential with id "credentialid" to version <version>.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A credential with id "credentialid" does not exist.
    post:
      tags:
        - Credential
      summary: Create a Credential
      description: Creates a Credential.
      operationId: createCredential
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/CredentialWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the credential with id "credentialid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create credential failed. A duplicate value has been detected. Name must be unique.
    delete:
      tags:
        - Credential
      summary: Delete a Credential
      description: Deletes the specified Credential.
      operationId: deleteCredential
      parameters:
        - name: credentialid
          in: query
          description: ID used within the Controller to identify this Credential.
          schema:
            type: string
        - name: credentialname
          in: query
          description: Name used within the Controller to identify this Credential.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Credential deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either credentialname or credentialid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A credential with id "credentialid" does not exist.
  /resources/credential/list:
    get:
      tags:
        - Credential
      summary: List Credentials
      description: Retrieves information on all Credentials.
      operationId: listCredentials
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/credential/testprovider:
    post:
      tags:
        - Credential
      summary: Test Provider
      description: Run the Test Provider command for the specified Credentials.
      operationId: testProvider
      parameters:
        - name: credentialid
          in: query
          schema:
            type: string
        - name: credentialname
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: A credential with id "credentialid" does not exist.
  /resources/customday:
    get:
      tags:
        - Custom Day
      summary: Read a Custom Day
      description: Retrieves information on a specific Custom Day.
      operationId: getCustomDay
      parameters:
        - name: customdayid
          in: query
          description: ID used within the Controller to identify this Custom Day.
          schema:
            type: string
        - name: customdayname
          in: query
          description: Name used within the Controller to identify this Custom Day.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDayWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomDayWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either customdayname or customdayid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A custom day with id "customdayid" does not exist.
    put:
      tags:
        - Custom Day
      summary: Modify a Custom Day
      description: Modifies the Custom Day specified by the sysId.
      operationId: updateCustomDay
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDayWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/CustomDayWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the custom day with id "customdayid" to version <version>.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A custom day with id "customdayid" does not exist.
    post:
      tags:
        - Custom Day
      summary: Create a Custom Day
      description: Creates a new Custom Day.
      operationId: createCustomDay
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDayWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/CustomDayWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the custom day with id "customdayid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create custom day failed. A duplicate value has been detected. Name must be unique.
    delete:
      tags:
        - Custom Day
      summary: Delete a Custom Day
      description: Deletes a specific Custom Day.
      operationId: deleteCustomDay
      parameters:
        - name: customdayid
          in: query
          description: ID used within the Controller to identify this Custom Day.
          schema:
            type: string
        - name: customdayname
          in: query
          description: Name used within the Controller to identify this Custom Day.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Custom day deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either customdayname or customdayid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A custom day with id "customdayid" does not exist.
  /resources/customday/list:
    get:
      tags:
        - Custom Day
      summary: List Custom Days
      description: Retrieves information on all Custom Days.
      operationId: listCustomDays
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/customday/qualifyingdates:
    get:
      tags:
        - Custom Day
      summary: List Custom Day Qualifying Dates
      description: Retrieves information on Qualifying Dates for a specific Custom Day.
      operationId: listQualifyingDates
      parameters:
        - name: customdayid
          in: query
          description: ID used within the Controller to identify this Custom Day.
          schema:
            type: string
        - name: customdayname
          in: query
          description: Name used within the Controller to identify this Custom Day.
          schema:
            type: string
        - name: calendarid
          in: query
          description: ID used within the Controller to identify this Calendar.
          schema:
            type: string
        - name: calendarname
          in: query
          description: Name used within the Controller to identify this Calendar.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Mutual exclusion violation. Cannot specify customdayname and customdayid at the same time.
  /resources/customday/qualifyingperiods:
    get:
      tags:
        - Custom Day
      summary: List Custom Day Qualifying Periods
      description: Retrieves information on Qualifying Periods for a specific Custom Day.
      operationId: listQualifyingPeriods_1
      parameters:
        - name: customdayid
          in: query
          description: ID used within the Controller to identify this Custom Day.
          schema:
            type: string
        - name: customdayname
          in: query
          description: Name used within the Controller to identify this Custom Day.
          schema:
            type: string
        - name: calendarid
          in: query
          description: ID used within the Controller to identify this Calendar.
          schema:
            type: string
        - name: calendarname
          in: query
          description: Name used within the Controller to identify this Calendar.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Mutual exclusion violation. Cannot specify customdayname and customdayid at the same time.
  /resources/databaseconnection:
    get:
      tags:
        - Database Connection
        - Connection
      summary: Read a Database Connection
      description: Retrieves information on a specific Database Connection.
      operationId: getDatabaseConnection
      parameters:
        - name: connectionid
          in: query
          description: ID used within the Controller to identify this Database Connection.
          schema:
            type: string
        - name: connectionname
          in: query
          description: Name used within the Controller to identify this Database Connection.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseConnectionWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/DatabaseConnectionWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either connectionname or connectionid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A database connection with id "connectionid" does not exist.
    put:
      tags:
        - Database Connection
        - Connection
      summary: Modify a Database Connection
      description: Modifies the Database Connection specified by the sysId.
      operationId: updateDatabaseConnection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseConnectionWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/DatabaseConnectionWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the database connection with id "connectionid" to version <version>.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A database connection with id "connectionid" does not exist.
    post:
      tags:
        - Database Connection
        - Connection
      summary: Create a Database Connection
      description: Creates a Database Connection.
      operationId: createDatabaseConnection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseConnectionWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/DatabaseConnectionWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the database connection with id "connectionid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create database connection failed. A duplicate value has been detected. Name must be unique.
    delete:
      tags:
        - Database Connection
        - Connection
      summary: Delete a Database Connection
      description: Deletes the specified Database Connection.
      operationId: deleteDatabaseConnection
      parameters:
        - name: connectionid
          in: query
          description: ID used within the Controller to identify this Database Connection.
          schema:
            type: string
        - name: connectionname
          in: query
          description: Name used within the Controller to identify this Database Connection.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Database connection deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either connectionname or connectionid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A database connection with id "connectionid" does not exist.
  /resources/databaseconnection/list:
    get:
      tags:
        - Database Connection
        - Connection
      summary: List Database Connections
      description: Retrieves information on all Database Connections.
      operationId: listDatabaseConnections
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/emailconnection:
    get:
      tags:
        - Email Connection
        - Connection
        - Email
      summary: Read an Email Connection
      description: Retrieves information on a specific Email Connection.
      operationId: getEmailConnection
      parameters:
        - name: connectionid
          in: query
          description: ID used within the Controller to identify this Email Connection.
          schema:
            type: string
        - name: connectionname
          in: query
          description: Name used within the Controller to identify this Email Connection.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailConnectionWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/EmailConnectionWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either connectionname or connectionid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: An email connection with id "connectionid" does not exist.
    put:
      tags:
        - Email Connection
        - Connection
        - Email
      summary: Modify an Email Connection
      description: Modifies the Email Connection specified by the sysId.
      operationId: updateEmailConnection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailConnectionWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/EmailConnectionWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the email connection with id "connectionid" to version <version>.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: An email connection with id "connectionid" does not exist.
    post:
      tags:
        - Email Connection
        - Connection
        - Email
      summary: Create an Email Connection
      description: Creates an Email Connection.
      operationId: createEmailConnection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailConnectionWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/EmailConnectionWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the email connection with id "connectionid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create email connection failed. A duplicate value has been detected. Name must be unique.
    delete:
      tags:
        - Email Connection
        - Connection
        - Email
      summary: Delete a Email Connection
      description: Deletes the specified Email Connection.
      operationId: deleteEmailConnection
      parameters:
        - name: connectionid
          in: query
          description: ID used within the Controller to identify this Email Connection.
          schema:
            type: string
        - name: connectionname
          in: query
          description: Name used within the Controller to identify this Email Connection.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Email connection deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either connectionname or connectionid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: An email connection with id "connectionid" does not exist.
  /resources/emailconnection/list:
    get:
      tags:
        - Email Connection
        - Connection
        - Email
      summary: List Email Connections
      description: Retrieves information on all Email Connections.
      operationId: listEmailConnections
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/emailtemplate:
    get:
      tags:
        - Email Template
        - Email
      summary: Read an Email Template
      description: Retrieves information on a specific Email Template.
      operationId: getEmailTemplate
      parameters:
        - name: templateid
          in: query
          description: ID used within the Controller to identify this Email Template.
          schema:
            type: string
        - name: templatename
          in: query
          description: Name used within the Controller to identify this Email Template.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/EmailTemplateWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Mutual exclusion violation. Cannot specify templatename and templateid at the same time.
        '404':
          description: Not Found
          content:
            text/plain:
              example: An email template with id "templateId" does not exist.
    put:
      tags:
        - Email Template
        - Email
      summary: Modify an Email Template
      description: Modifies the Email Template specified by the sysId.
      operationId: updateEmailTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/EmailTemplateWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the Email Template with id "templateid" to version <version>.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: An email template with id "templateid" does not exist.
    post:
      tags:
        - Email Template
        - Email
      summary: Create an Email Template
      description: Creates an Email Template.
      operationId: createEmailTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/EmailTemplateWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the Email Template with id "templateid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create Email Template failed. A duplicate value has been detected. Name must be unique.
    delete:
      tags:
        - Email Template
        - Email
      summary: Delete an Email Template
      description: Deletes the specified Email Template.
      operationId: deleteEmailTemplate
      parameters:
        - name: templateid
          in: query
          description: ID used within the Controller to identify this Email Template.
          schema:
            type: string
        - name: templatename
          in: query
          description: Name used within the Controller to identify this Email Template.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Email template deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either templatename or templateid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: An email template with id "templateid" does not exist.
  /resources/emailtemplate/list:
    get:
      tags:
        - Email Template
        - Email
      summary: List Email Templates
      description: Retrieves information on all Email Templates..
      operationId: listEmailTemplate
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/ldap/changebindpwd:
    post:
      tags:
        - LDAP
      summary: Update LDAP Bind Password
      description: Modifies LDAP Settings Bind Password.
      operationId: changeBindPassword
      requestBody:
        content:
          '*/*':
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: LDAP Settings Bind Password changed successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: LDAP Settings Bind Password cannot be empty.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Bind Password cannot be updated until the LDAP Settings are configured.
  /resources/ldap:
    get:
      tags:
        - LDAP
      summary: Read LDAP Settings
      description: Retrieves LDAP Settings.
      operationId: getLdap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LdapWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/LdapWsData'
        '400':
          description: Bad Request
    put:
      tags:
        - LDAP
      summary: Update LDAP Settings
      description: Modifies LDAP Settings.
      operationId: updateLdap
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LdapWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/LdapWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the LDAP Settings.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: LDAP Settings with id "sysId" not found.
  /resources/metrics:
    get:
      tags:
        - Monitoring
      summary: Universal Controller Metrics (Prometheus)
      description: Scrapes the Universal Controller metrics as Prometheus text.
      operationId: getMetrics
      responses:
        '200':
          description: OK
          content:
            text/plain: {}
        '400':
          description: Bad Request
  /resources/oauthclient:
    get:
      tags:
        - OAuth Client
        - Email
      summary: Read an OAuth Client
      description: Retrieves information on a specific OAuth Client
      operationId: getOAuthClient
      parameters:
        - name: oauthclientid
          in: query
          description: ID used within the Controller to identify this OAuth Client.
          schema:
            type: string
        - name: oauthclientname
          in: query
          description: Name used within the Controller to identify this OAuth Client.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAuthClientWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Mutual exclusion violation. Cannot specify oauthclientname and oauthclientid at the same time.
        '404':
          description: Not Found
          content:
            text/plain:
              example: An OAuth Client with id "oauthclientId" does not exist.
    put:
      tags:
        - OAuth Client
        - Email
      summary: Modify an OAuth Client
      description: Modifies the OAuth Client specified by the sysId.
      operationId: updateOAuthClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAuthClientWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the OAuth Client with id "oauthclientid" to version <version>.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: An OAuth Client with id "oauthclientid" does not exist.
    post:
      tags:
        - OAuth Client
        - Email
      summary: Create an OAuth Client
      description: Creates an OAuth Client.
      operationId: createOAuthClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClientWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAuthClientWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the OAuth Client with id "oauthclientid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create OAuth Client failed. A duplicate value has been detected. Name must be unique.
    delete:
      tags:
        - OAuth Client
        - Email
      summary: Delete an OAuth Client
      description: Deletes the specified OAuth Client.
      operationId: deleteOAuthClient
      parameters:
        - name: oauthclientid
          in: query
          description: ID used within the Controller to identify this OAuth Client.
          schema:
            type: string
        - name: oauthclientname
          in: query
          description: Name used within the Controller to identify this OAuth Client.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: OAuth Client deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either oauthclientname or oauthclientid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: An OAuth Client with id "oauthclientid" does not exist.
  /resources/oauthclient/list:
    get:
      tags:
        - OAuth Client
        - Email
      summary: List OAuth Clients
      description: Retrieves information on all OAuth Clients.
      operationId: listOAuthClients
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/oauthsettings:
    get:
      tags:
        - OAuth Single Sign-On
      summary: Read OAuth Single Sign-On Settings
      description: Retrieves information for the OAuth Single Sign-On Settings.
      operationId: getOAuthSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthSettingsWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/OAuthSettingsWsData'
        '403':
          description: Forbidden
          content:
            text/plain:
              example: Operation prohibited due to security constraints.
    put:
      tags:
        - OAuth Single Sign-On
      summary: Modify OAuth Single Sign-On Settings
      description: Modifies the OAuth Single Sign-On Settings.
      operationId: updateOAuthSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthSettingsWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/OAuthSettingsWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the OAuth Single Sign-On Settings with id <oauthsettingsid>.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Update OAuth Single Sign-On Settings failed. <reason>
        '403':
          description: Forbidden
          content:
            text/plain:
              example: Operation prohibited due to security constraints.
  /resources/omsserver:
    get:
      tags:
        - OMS Server
      summary: Read an OMS Server
      description: Retrieves information on a specific OMS Server.
      operationId: getOmsServer
      parameters:
        - name: serveraddress
          in: query
          description: IP address or host name of this OMS Server.
          schema:
            type: string
        - name: serverid
          in: query
          description: ID used within the Controller to identify this OMS Server.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmsServerWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/OmsServerWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Mutual exclusion violation. Cannot specify serveraddress and serverid at the same time.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A server with id "serverid" does not exist.
    put:
      tags:
        - OMS Server
      summary: Modify an OMS Server
      description: 'Modifies the OMS Server specified by the sysId. To modify OMS Server properties without modifying related records, set excludeRelated = true.'
      operationId: updateOmsServer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OmsServerWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/OmsServerWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the OMS Server with id "serverid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A OMS Server with id "serverid" does not exist.
    post:
      tags:
        - OMS Server
      summary: Create an OMS Server
      description: Creates an OMS Server.
      operationId: createOmsServer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OmsServerWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/OmsServerWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the OMS Server with id "serverid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create OMS Server failed. Record with id "serverid" already exists.
    delete:
      tags:
        - OMS Server
      summary: Delete an OMS Server
      description: Deletes the specified OMS Server.
      operationId: deleteOmsServer
      parameters:
        - name: serveraddress
          in: query
          description: IP address or host name of this OMS Server.
          schema:
            type: string
        - name: serverid
          in: query
          description: ID used within the Controller to identify this OMS Server.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: OMS Server deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either serveraddress or serverid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A server with id "serverid" does not exist.
  /resources/omsserver/list:
    get:
      tags:
        - OMS Server
      summary: List OMS Servers
      description: Retrieves the Server address or partial server address of all OMS servers.
      operationId: listOmsServers
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/peoplesoftconnection:
    get:
      tags:
        - Peoplesoft Connection
        - Connection
      summary: Read a PeopleSoft Connection
      description: Retrieves information on a specific PeopleSoft Connection.
      operationId: getPeoplesoftConnection
      parameters:
        - name: connectionid
          in: query
          description: ID used within the Controller to identify this PeopleSoft Connection.
          schema:
            type: string
        - name: connectionname
          in: query
          description: Name used within the Controller to identify this PeopleSoft Connection.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeoplesoftConnectionWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/PeoplesoftConnectionWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either connectionname or connectionid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A PeopleSoft connection with id "connectionid" does not exist.
    put:
      tags:
        - Peoplesoft Connection
        - Connection
      summary: Modify a PeopleSoft Connection
      description: Modifies the PeopleSoft Connection specified by the sysId.
      operationId: updatePeoplesoftConnection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeoplesoftConnectionWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/PeoplesoftConnectionWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully updated the PeopleSoft connection with with id "connectionid" to version <version>.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A PeopleSoft connection with id "connectionid" does not exist.
    post:
      tags:
        - Peoplesoft Connection
        - Connection
      summary: Create a PeopleSoft Connection
      description: Creates a PeopleSoft Connection.
      operationId: createPeoplesoftConnection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeoplesoftConnectionWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/PeoplesoftConnectionWsData'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Successfully created the PeopleSoft connection with id "connectionid".
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
        '404':
          description: Not Found
          content:
            text/plain:
              example: Create PeopleSoft connection failed. A duplicate value has been detected. Name must be unique.
    delete:
      tags:
        - Peoplesoft Connection
        - Connection
      summary: Delete a PeopleSoft Connection
      description: Deletes the specified PeopleSoft Connection.
      operationId: deletePeoplesoftConnection
      parameters:
        - name: connectionid
          in: query
          description: ID used within the Controller to identify this PeopleSoft Connection.
          schema:
            type: string
        - name: connectionname
          in: query
          description: Name used within the Controller to identify this PeopleSoft Connection.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: PeopleSoft connection deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Required either connectionname or connectionid.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A PeopleSoft connection with id "connectionid" does not exist.
  /resources/peoplesoftconnection/list:
    get:
      tags:
        - Peoplesoft Connection
        - Connection
      summary: List PeopleSoft Connections
      description: Retrieves information on all PeopleSoft Connections.
      operationId: listPeoplesoftConnections
      responses:
        '200':
          description: OK
          content:
            application/json: {}
            application/xml: {}
        '400':
          description: Bad Request
  /resources/promote:
    post:
      tags:
        - Promotion
      summary: Bundleless Promotion
      description: 'Promotes, without a bundle, one or more items of a specific type.'
      operationId: promote_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoteWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/PromoteWsData'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Unable to parse JSON input.
  /resources/promotion/schedule/cancel:
    post:
      tags:
        - Promotion
      summary: Cancel a Scheduled Bundle Promotion
      description: Cancels the scheduled promotion of a Bundle.
      operationId: cancelPromotionSchedule
      parameters:
        - name: scheduleid
          in: query
          description: ID used within the Controller to identify this Promotion Schedule.
          schema:
            type: string
        - name: bundleid
          in: query
          description: ID used within the Controller to identify this Bundle.
          schema:
            type: string
        - name: bundlename
          in: query
          description: Name used within the Controller to identify this Bundle.
          schema:
            type: string
        - name: date
          in: query
          description: 'Date when the promotion was scheduled. Corresponds to the year, month, and day of the Scheduled Time field in a promotion schedule. Format: yyyy-MM-dd.'
          schema:
            type: string
        - name: time
          in: query
          description: 'Time when the promotion was scheduled. Corresponds to the year, month, and day of the Scheduled Time field in a promotion schedule. Format: HH:mm.'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResponseWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: 'One of parameters scheduleid, bundleid, or bundlename required.'
        '404':
          description: Not Found
          content:
            text/plain:
              example: Unable to find qualifying promotion schedule.
  /resources/promotion/schedule:
    delete:
      tags:
        - Promotion
      summary: Delete a Scheduled Bundle Promotion
      description: Deletes the scheduled promotion of a Bundle.
      operationId: deletePromotionSchedule
      parameters:
        - name: scheduleid
          in: query
          description: ID used within the Controller to identify this Promotion Schedule.
          schema:
            type: string
        - name: bundleid
          in: query
          description: ID used within the Controller to identify this Bundle.
          schema:
            type: string
        - name: bundlename
          in: query
          description: Name used within the Controller to identify this Bundle.
          schema:
            type: string
        - name: date
          in: query
          description: 'Date when the promotion was scheduled. Corresponds to the year, month, and day of the Scheduled Time field in a promotion schedule. Format: yyyy-MM-dd.'
          schema:
            type: string
        - name: time
          in: query
          description: 'Time when the promotion was scheduled. Corresponds to the year, month, and day of the Scheduled Time field in a promotion schedule. Format: HH:mm.'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              example: Promotion schedule deleted successfully.
        '400':
          description: Bad Request
          content:
            text/plain:
              example: 'One of parameters scheduleid, bundleid, or bundlename required.'
        '404':
          description: Not Found
          content:
            text/plain:
              example: Unable to find qualifying promotion schedule.
  /resources/promotiontarget:
    get:
      tags:
        - Promotion
      summary: Read a Promotion Target
      description: Retrieve a specified Promotion Target details.
      operationId: getPromotionTarget
      parameters:
        - name: targetname
          in: query
          description: Name used within the Controller to identify this Promotion Target.
          schema:
            type: string
        - name: targetid
          in: query
          description: ID used within the Controller to identify this Promotion Target.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionTargetWsData'
            application/xml:
              schema:
                $ref: '#/components/schemas/PromotionTargetWsData'
        '400':
          description: Bad Request
          content:
            text/plain:
              example: Mutual exclusion violation. Cannot specify targetname and targetid at the same time.
        '404':
          description: Not Found
          content:
            text/plain:
              example: A target with id "targetid" does not exist.
    put:
      tags:
        - Promotion
      summary: Modify a Promotion Target
      description: Modifies the specified Promotion Target.
      operationId: updatePromotionTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotionTargetWsData'
          application/xml:
            schema:
              $ref: '#/components/schemas/PromotionTargetWsData'
      responses:
        '200':
[...]
